@import "variable";
@import "extend";

* {
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: Merriweather, 'Helvetica Neue', Arial, sans-serif;
}
.container {
	width: 85%;
	margin: auto;
}
header {
	.logo {
		width: 50%;
		float: left;
	}
	ul {
		width: 50%;
		float: left;
	}
	background:#ffffff;
	overflow: hidden;
	width: 100%;
	top: 0;
	z-index: 999;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	.ul-list {
		display: flex;
		list-style: none;
		padding: 10px 0;
		.list-item {
			padding: 10px 15px;
			a {
				color: #000;
				text-decoration: none;
				font-weight: bold;
				text-transform: uppercase;
				transition: all 0.5s ease-in-out;
				&:hover {
					color: #f05f40;
				}
			}
		}
		ul {
			display: none;
			position: fixed;
			text-decoration: none;
		}
		li {
			&:hover {
				>ul {
					display: block;
					margin-top: 10px;
					text-decoration: none;
					list-style: none;
					line-height: 20px;
					font-size: 16px;
					background: #fff;
					width: 120px;
					padding: 10px;
					opacity: 1;
					transform: translateY(0);
					box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
				}
			}
		}
	}
	input {
		position: absolute;
		top: 9px;
		right: 25px;
		display: none;
		&:checked~.ul-list {
			display: block;
		}
	}
	label {
		position: absolute;
		top: 9px;
		right: 25px;
	}
}
.logo {
	img {
		padding: 13px 0px;
	}
}
.nav-drop {
	color: #000;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	transition: all 0.5s ease-in-out;
}
.sticky {
	position: sticky;
}
.home {
	background: url("../img/header.jpg");
	height: 100vh;
	background-size: cover;
	text-align: center;
	position: relative;
}
.service {
	padding: 5rem 0;
	background: #fff;
	text-align: center;
	h2 {
		color: #191b1d;
	}
	.service-parent {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 15px;
		margin: 1.5rem 0;
		i {
			color: #ddd;
		}
		h3 {
			margin: 1rem 0;
			color: #333;
		}
		p {
			color: #a4a4a4;
		}
	}
}
@media (max-width: 768px) {
	header {
		.logo {
			width: 100%;
			float: none;
		}
		.ul-list {
			width: 100%;
			float: none;
			display: none;
		}
		position: static;
		text-align: center;
	}
	.service {
		.service-parent {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
@media (min-width: 992px) {
	header {
		label {
			display: none;
		}
	}
}
@media (max-width: 991px) {
	hedear {
		.ul-list {
			width: 100%;
			float: none;
			margin-top: 20px;
			display: none;
		}
	}
}
@media (max-width: 575px) {
	.service {
		.service-parent {
			grid-template-columns: 1fr;
		}
	}
}
